$mainWidth: calc(100vw - 300px);
$scrollHide: calc(100% + 20px);
$sideHeaderColor: #253141;
$sideGroupColor: #2f3e51;
$mainHeaderColor: #ffffff;
$mainChatBoxColor: #fafafa;
$mainFooterColor: #d2d2d2;
$mainBtnColor: #38aef0;
$mainColorBlack: #333333;
$mainColorGrey: #999999;
$sideColorWhite: #ffffff;